body {
  font-family: "microsoft yahei";
}
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}
input,
textarea {
  line-height: normal;
  /* for non-ie */
  line-height: 22px \9;
  /* for ie */
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.tab-pane.active {
  display: block;
}
.tab-pane {
  display: none;
}
.w-100 {
  width: 100% !important;
}
.p-0-5 {
  padding: 0 5px !important;
}
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.m-t0 {
  margin-top: 0 !important;
}
.m-t20 {
  margin-top: 20px !important;
}
.ora-border {
  border: 1px solid #f77607;
}
.red-border {
  border: 1px solid #ed0000;
}
.blue-border {
  border: 1px solid #338edb;
}
.hide {
  display: none;
}
.e-hide {
  display: none;
}
.over-hidden {
  overflow: hidden;
}
.text-center {
  text-align: center !important;
}
body {
  background-color: #F4F4F4;
  transition: all 0.3s;
}
.ban-box {
  height: 193px;
  background-image: url(/r/cms/organization/org/img_20161030/header-bg.png);
  background-repeat-x: initial;
  background-position-y: center;
}
.ban {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-image: url(/r/cms/organization/org/img_20161030/banner2.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.ban .c-title {
  font-size: 38px ;
  float: right;
  color: #fff;
  font-weight: bold;
  line-height: 41px;
  margin-top: 76px;
  padding-right: 20px;
}
.ban .c-title img {
  vertical-align: middle;
}
.bar-box {
  box-sizing: border-box;
  box-shadow: 0 3px 3px #E9E9E9;
  height: 42px;
  background-color: #fff;
}
.bar {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 13px;
  color: #333333;
}
.bar .time {
  float: left;
  line-height: 36px;
  color: #333333;
}
.m-soso {
  display: none;
  float: right;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 20px;
  width: 20px;
}
.top {
  position: relative;
}
.study-form {
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 36px;
  background: #F4F4F4;
  vertical-align: middle;
  padding: 8px 0;
  display: none;
}
.study-form .text {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  text-indent: 3px;
  border: 1px solid #ccc;
  padding: 10px;
}
.study-form .btn-submit {
  box-sizing: border-box;
  width: 18px !important;
  height: 20px !important;
  cursor: pointer;
  border: none !important;
  margin: 0;
  position: absolute;
  top: 13px;
  right: 6px;
}
.search {
  float: right;
  font-size: 0;
  height: 30px;
  margin-top: 5px;
  color: #333333;
}
.search .name,
.search .text,
.search .mnew-topbtn,
.search .per-zone {
  height: 100%;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  margin-right: 9px;
  box-sizing: border-box;
}
.search img {
  vertical-align: middle;
  margin-right: 9px;
}
.search .text {
  background-color: #fff;
  width: 196px;
  border-radius: 3px;
  border: 1px solid #D6D4D4;
}
.search .text input {
  width: 180px;
  border: none;
  margin: 5px 0 0 5px;
  background: #fff ;
}
.search .mnew-topbtn {
  height: 28px;
  padding: 0 10px;
  font-family: "microsoft yahei";
  font-size: 14px;
  line-height: 28px;
  border: 1px solid #D6D4D4;
  color: #666666;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 3px;
}
.search .per-zone {
  line-height: 30px;
  padding-left: 32px;
  padding-right: 10px;
  border: 1px solid #D6D4D4;
  border-radius: 3px;
  color: #333333;
  margin-right: 0;
  background: url("../img/per.png") no-repeat 8px center;
}
.search.study {
  margin-top: 10px;
  margin-right: 20px;
}
.m-bar,
.search_list {
  display: none;
}
.m-nav {
  position: absolute;
  left: -100%;
  top: 0;
  width: 80%;
}
.nav {
  max-width: 1100px;
  margin: 25px auto 0;
}
.nav ul {
  white-space: nowrap;
  font-size: 0;
  background-color: #E60500;
}
.nav ul li {
  padding: 0 68px;
  display: inline-block;
  position: relative;
  background-color: #E60500;
  background-image: url("/r/cms/organization/org/img_20161030/right-b.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.nav ul li:last-child {
  background-image: none;
}
.nav ul .e-sline {
  width: 1px ;
  height: 14px;
  background: #fff;
  display: inline-block;
  margin-bottom: 18px;
}
.nav a.nav-link,
.nav a.nav-child {
  display: block;
  color: #fff;
  float: left;
}
.nav a.nav-link {
  line-height: 50px;
  font-size: 14px;
}
.nav a.nav-link.home {
  padding-left: 41px;
}
.nav .nav-child-box {
  overflow: hidden;
  float: left;
  margin-left: 8px;
}
.nav .nav-child-box li {
  display: block;
  float: left;
  padding: 0 15px;
}
.nav .nav-child-box li a.nav-child {
  line-height: 50px;
  font-size: 12px;
  padding: 0 10px;
  background-color: #E60500;
  text-align: center;
}
.nav .nav-child-box.last {
  margin-left: -52px;
}
.col-l {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #D6D6D6;
  font-size: 0;
}
.col-l ul {
  text-align: center;
}
.col-l li {
  padding: 0 35px;
  display: inline-block;
}
.col-l li.a {
  padding-left: 55px;
}
.col-l li.a a {
  background: url("/r/cms/organization/org/img_20161030/icona.png") no-repeat left center;
}
.col-l li.b a {
  background: url("/r/cms/organization/org/img_20161030/iconb.png") no-repeat left center;
}
.col-l li.c a {
  background: url("/r/cms/organization/org/img_20161030/iconc.png") no-repeat left center;
}
.col-l li.d a {
  background: url("/r/cms/organization/org/img_20161030/icond.png") no-repeat left center;
}
.col-l .col-l-item {
  display: block;
  padding-left: 35px;
  box-sizing: border-box;
  line-height: 60px;
  font-size: 15px;
  color: #333333;
}
.introduce {
  text-align: center;
  line-height: 45px;
}
.con {
  max-width: 1100px;
  padding: 20px 25px;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
}
.con .hid-box {
  overflow: hidden;
}
.hid-box.list.friend {
  padding: 20px 0;
}
.item-con.con,
.item-con.con p,
.item-con.con div,
.item-con.con li,
.item-con.con a {
  font-size: 15px;
  line-height: 30px;
  color: #333333;
  text-align: left;
}
.item-con.con p.title {
  font-size: 18px;
  color: #333333;
  line-height: 45px;
  text-align: center;
}
.item-con.con p.sub {
  font-size: 14px;
  color: #ccc;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.item-con.con p.sub span {
  margin-right: 20px;
}
.model.special,
.model.zl {
  margin-top: 20px;
}
.model-left {
  width: 67.619047%;
  float: left;
  overflow: hidden;
}
.model-right {
  width: 30.476191%;
  float: right;
  overflow: hidden;
}
.model.col-2 {
  margin-top: 20px;
}
.model.col-2 .model-right {
  float: right;
  width: 69.523809%;
}
.model.col-2 .model-left {
  float: left;
  width: 28.571428%;
}
.model.col-2.show .model-left {
  width: 33.333333%;
}
.model.col-2.show .model-left .hid-box.list {
  margin-top: 29px;
}
.model.col-2.show .model-left .list-item {
  width: 100%;
  float: none;
}
.model.col-2.show .model-right {
  width: 61.904761%;
}
.model.col-2.show .model-right .top {
  padding-right: 0;
  background-color: transparent;
  border-bottom: none;
  background-image: url("/r/cms/organization/org/img_20161030/top-ng.png");
  background-repeat: no-repeat;
  background-repeat-x: initial;
  background-position: left bottom;
}
.model.col-2.show .model-right .top .title {
  float: none;
  color: #333333;
  font-weight: initial;
  padding: 0;
  border-bottom: none;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.model.col-2.show .model-right .item-con {
  box-sizing: border-box;
  padding: 20px;
}
.face-box {
  height: 362px;
  position: relative;
}
.face-box .face-img {
  width: 100%;
  height: 100%;
}
.face-box .face-zz {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.face-box .btn-play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  cursor: pointer;
}
.show_video {
  display: none;
}
.m.table-desc {
  display: none;
}
.table-desc {
  float: left;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  border-collapse: collapse;
  font-size: 14px;
  color: #59595A;
  margin-top: 15px;
  width: 100%;
}
.table-desc tr {
  background-color: white;
  line-height: 28px;
  height: 44px;
}
.table-desc td + td {
  padding-left: 15px;
  padding-right: 15px;
}
.table-desc td {
  border-left: 1px solid #D1D1D1;
  border-right: 1px solid #D1D1D1;
}
.table-desc td:first-child {
  width: 26.4%;
  padding-left: 3.8%;
}
.model-item .top {
  height: 48px;
  padding-right: 20px;
  background-color: #F4F4F4;
  border-bottom: 1px solid #CCCCCC;
}
.model-item .top .title {
  float: left;
  color: #E60000;
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px;
  height: 100%;
  line-height: 48px;
  box-sizing: border-box;
  border-bottom: 3px solid #D62B19;
  position: relative;
  bottom: -1px;
}
.model-item .top .more {
  float: right;
  line-height: 48px;
  color: #333333;
}
.model-item .item-con .img {
  margin-top: 15px;
}
.model-item .item-con .img ul {
  margin: 0 -10px;
}
.model-item .item-con .item {
  float: left;
  box-sizing: border-box;
}
.model-item .item-con .img-item {
  width: 50%;
  padding: 0 10px;
  text-align: center;
}
.model-item .item-con .img-item img {
  width: 100%;
  max-height: 62px;
}
.model-item .item-con .item-link {
  display: block;
}
.model-item .item-con .video {
  margin-top: 18px;
}
.model-item .item-con .video ul {
  margin: 0 -5px;
}
.model-item .item-con .video-item {
  width: 25%;
  padding: 0 5px;
}
.model-item .item-con .video-item .img-box {
  background-color: #EAECEB;
}
.model-item .item-con .video-item .img-box img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.model-item .item-con .video-item .subtitle {
  text-align: left;
  line-height: 30px;
  margin-top: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.model-item .item-con .video-item .play {
  color: #999999;
  font-size: 12px;
  line-height: 25px;
}
.model-item .item-con .video.col {
  margin-top: 18px;
  float: right;
  width: 37.042253%;
}
.model-item .item-con .video.col ul {
  margin: 0;
}
.model-item .item-con .video.col .video-item {
  width: 50%;
  padding: 0 20px;
}
.model-item .item-con .video.col .video-item .img-box {
  padding: 2px;
  border: 1px solid #D4D6D5;
  background-color: #EAECEB;
}
.model-item .item-con .video.col .video-item .img-box img {
  width: 100%;
  border: 1px solid #FCFAFD;
  display: block;
  box-sizing: border-box;
}
.model-item .item-con .video.col .video-item .subtitle {
  text-align: center;
  margin: 8px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.model-item .item-con .video.col-2 ul {
  margin: 0;
}
.model-item .item-con .video.col-2 .video-item {
  width: 50%;
  padding: 0 11px;
}
.model-item .item-con .video.special {
  margin-top: 18px;
}
.model-item .item-con .video.special ul {
  margin: 0 -20px;
}
.model-item .item-con .special .video-item {
  width: 20%;
  padding: 0 20px;
}
.model-item .item-con .special .video-item .img-box {
  padding: 8px;
}
.model-item .item-con .special .video-item .img-box img {
  width: 100%;
  height: 120px;
}
.model-item .item-con .list {
  margin-top: 11px;
}
.model-item .item-con .list ul {
  margin: 0 -17px;
}
.model-item .item-con .list-item {
  width: 50%;
  padding: 0 17px;
}
.model-item .item-con .list-item .subtitle {
  width: 75%;
  float: left;
  line-height: 26px;
  font-size: 12px;
  color: #606060;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.model-item .item-con .list-item .play {
  float: right;
  text-align: center;
  color: #999999;
}
.model-item .item-con .list-item .play img {
  border: none;
  vertical-align: middle;
}
.model-item .item-con .list-item .play span {
  line-height: 26px;
  color: #606060;
  vertical-align: middle;
}
.model-item .item-con .list.rank {
  margin-top: 20px;
}
.model-item .item-con .list.rank ul {
  margin: 0 -6px;
}
.model-item .item-con .list.rank .list-item {
  padding: 0 6px;
}
.model-item .item-con .list.rank .list-item .subtitle {
  line-height: 35px;
}
.model-item .item-con .list.rank .list-item .play span {
  line-height: 35px;
}
.model-item .item-con .list.rank .list-item .item-link {
  display: block;
  box-sizing: border-box;
  padding: 0 25px 0 50px;
  position: relative;
}
.model-item .item-con .list.rank .list-item .item-link .num {
  position: absolute;
  top: 11px;
  left: 12px;
  color: #606060;
}
.model-item .item-con .list.rank .list-item:nth-child(4n+1) .item-link,
.model-item .item-con .list.rank .list-item:nth-child(4n+2) .item-link {
  background-color: #F4F4F4;
}
.model-item .item-con .list.col {
  float: left;
  width: 57.74647%;
}
.model-item .item-con .list.col ul {
  margin: 0;
}
.model-item .item-con .list.col .list-item {
  width: 100%;
  padding: 0;
}
.model-item .item-con .list.col .list-item .subtitle {
  width: 75%;
  float: left;
  line-height: 26px;
  font-size: 12px;
  color: #606060;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.model-item .item-con .list.col .list-item .play {
  float: right;
  text-align: center;
  color: #999999;
}
.model-item .item-con .list.col .list-item .play img {
  border: none;
  vertical-align: middle;
}
.model-item .item-con .list.col .list-item .play span {
  line-height: 26px;
  color: #606060;
  vertical-align: middle;
}
.model-item .item-con .tv {
  margin-top: 20px;
}
.model-item .item-con .tv ul {
  margin: 0 -10px;
}
.model-item .item-con .tv-item {
  width: 50%;
  padding: 0 10px;
}
.model-item .item-con .tv-item .item-link {
  font-size: 16px;
  color: #E60000;
  text-align: left;
  font-family: "microsoft yahei";
  padding: 15px 0;
  border-bottom: 2px solid #E60000;
  padding-left: 53px;
  background: url("/r/cms/organization/org/img_20161030/icontv.png") no-repeat 12px 8px;
  background-color: #F6EEEB;
}
.model.stars .hid-big-box {
  overflow: hidden;
}
.model.stars .model-item-box {
  margin: 0 -11px;
}
.model.stars .model-item {
  width: 33.333333%;
  box-sizing: border-box;
  float: left;
  padding: 0 11px;
  margin-top: 15px;
}
.model.stars .model-item .list-item {
  width: 100%;
}
.model.stars .model-item.col-2 {
  width: 66.666666%;
}
.model.stars.col-zl .item-con.zb {
  padding: 20px 10px 0;
}
.model.stars.col-zl .hid-big-box .model-item {
  width: 50%;
  box-sizing: border-box;
}
.radiu-box {
  padding: 0 10px;
}
.radiu-box li {
  margin-top: 10px;
}
.radiu-box .radiu-item {
  position: relative;
  display: block;
  height: 66px;
  line-height: 66px;
  font-size: 16px;
  color: #333333;
  padding-left: 80px;
  background: url("/r/cms/organization/org/img_20161030/item-yuan.png") no-repeat left center;
}
.radiu-box .radiu-item .radiu-logo {
  width: 68px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
}
.radiu-box .radiu-item img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.model.middle,
.model.bottom {
  margin-top: 28px;
}
.tab-box {
  overflow: auto;
}
.tab-bar {
  margin-top: 20px;
}
.tab-bar .item {
  width: 16.6666667%;
  text-align: center;
  color: #fff;
  background-color: #F3F3F3;
  box-sizing: border-box;
  position: relative;
  border-right: 3px solid #fff;
}
.tab-bar .item a {
  color: #333333;
  font-size: 14px;
  display: block;
  height: 34px;
  line-height: 34px;
  border-top: 2px solid #C7C7C7;
}
.tab-bar .item.active {
  background-color: #fff;
}
.tab-bar .item.active a {
  border-top: 2px solid #E60000;
}
.nav-tab-box {
  max-width: 1100px;
  margin: 20px auto 0;
  background-color: #E60000;
}
.nav-tab-box .nav-bar-box {
  width: 15%;
  float: left;
}
.nav-tab-box .nav-bar-box .item a {
  display: block;
  line-height: 63px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #CC0001;
}
.nav-tab-box .nav-bar-box .item.active a {
  background-color: #E60000;
}
.nav-tab-box .nav-tab-content {
  width: 85%;
  float: right;
  font-size: 0;
  background-color: #E60000;
  padding: 4px 0;
}
.nav-tab-box .nav-tab-content li {
  display: inline-block;
}
.nav-tab-box .nav-tab-content .item {
  display: block;
  padding: 0 12px;
  font-size: 14px;
  line-height: 39px;
  color: #fff;
  background-color: #E60000;
}
.nav-tab-box .nav-tab-content .item:hover {
  background-color: #CC0001;
}
.item-con.zb {
  padding: 20px 20px 0;
  position: relative;
}
.item-con.zb .face-img {
  width: 100%;
  height: 197px;
}
.item-con.zb .btn-play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  width: 50px;
}
.pos {
  position: relative;
}
.pos .tab-box {
  position: absolute;
  top: 0;
  left: 23%;
}
.pos .tab-box .tab-bar {
  margin-top: 0;
}
.pos .tab-box .item {
  width: auto;
  border: none;
}
.pos .tab-box .item.active a {
  border-bottom: 1px solid #fff;
  border-top: 2px solid #E60000;
}
.pos .tab-box .item a {
  font-size: 14px;
  padding: 0 20px;
  height: 100%;
  border: none;
  line-height: 48px;
  box-sizing: border-box;
}
.col-l-t {
  padding: 0 10px;
  margin-bottom: 35px;
}
.col-l-t .item {
  padding: 0 24px;
  float: left;
  box-sizing: border-box;
  width: 50%;
}
.col-l-t .item a {
  min-height: 90px;
  font-size: 13px;
  color: #333333;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding: 5px 7px;
  border: 2px solid #E1E1E1;
  background: url("/r/cms/organization/org/img_20161030/col-l-t.png") left center;
  background-repeat-x: initial;
  position: relative;
}
.col-l-t .item a .img-box {
  position: relative;
  height: 60px;
}
.col-l-t .item a img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
}
.col-l-t .item a .subtitle {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 6px;
  left: 0;
}
.hits-box {
  margin-top: 10px;
  margin-bottom: 25px;
}
.hits-box .hits-link {
  padding-left: 34px;
  padding-right: 16px;
  font-size: 12px;
  color: #333333;
  display: block;
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px dashed #B2B2B2;
  position: relative;
}
.hits-box .hits-link .subtitle {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}
.hits-box .hits-link .num {
  float: right;
}
.hits-box .hits-link:before {
  width: 7px;
  height: 7px;
  content: '';
  display: block;
  background: url("/r/cms/organization/org/img_20161030/right.jpg") no-repeat center center;
  position: absolute;
  top: 11px;
  left: 16px;
}
.hits-box .hits-link.first:before {
  background: none;
  background-color: #F4F4F4;
  border: none;
}
.hits-box .hits-link.first {
  background-color: #F4F4F4;
  border: none;
}
.tree {
  height: 530px;
  overflow-y: auto;
  padding: 19px 19px 19px 40px;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.tree li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0;
  position: relative;
}
.tree li.child {
  padding-left: 40px;
}
.tree li::before,
.tree li::after {
  content: '';
  left: 15px;
  position: absolute;
  right: auto;
}
.tree li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px;
}
.tree li::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 20px;
  width: 25px;
}
.tree li span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  padding: 3px 10px;
  text-decoration: none;
  color: #333333;
}
.tree li span a {
  color: #333333;
}
.tree li.parent_li > span {
  cursor: pointer;
}
.tree li.parent_li > span.active {
  background: #eee;
}
.tree li.parent_li > span.active a {
  color: #E60000;
}
.tree > ul > li::before,
.tree > ul > li::after {
  border: 0;
}
.tree li:last-child::before {
  height: 20px;
}
.tree li.parent_li > span:hover,
.tree li.parent_li > span:hover + ul li span,
.tree li.parent_li > span + ul li span:hover {
  background: #eee;
  border: 1px solid #94a0b4;
  color: #000;
}
.tree li.parent_li > span + ul li.active span a,
.tree li.parent_li > span + ul li.active span {
  color: #E60000;
  background: #eee;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
}
.icon-step-backward {
  background: url("/r/cms/organization/org/img_20161030/more.png") no-repeat;
  background-position: -24px -96px;
  position: relative;
  left: -5px;
  cursor: pointer;
  z-index: 10;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.now-location {
  font-size: 14px;
  color: #333333;
  padding-left: 35px;
  position: relative;
  background: url("/r/cms/organization/org/img_20161030/homenow.png") no-repeat 12px center;
  background-color: #F4F4F4;
  border-bottom: 1px solid #CCCCCC;
}
.now-location .title {
  height: 40px;
  line-height: 40px;
  float: left;
}
.now-location .main {
  float: left;
}
.now-location .main a {
  height: 40px;
  line-height: 40px;
  color: #333333;
}
.now-location .main a.active {
  color: #E60000;
}
.now-location .main img {
  vertical-align: middle;
  padding: 0 5px;
}
